USE [master]
GO
/****** Object:  Database [QUANLYSV]    Script Date: 11/11/2023 9:45:51 AM ******/
CREATE DATABASE [QUANLYSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYSV]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/11/2023 9:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [int] NULL,
	[TenSV] [nchar](10) NULL,
	[SDT] [int] NULL,
	[Email] [nchar](10) NULL,
	[Avatar] [nchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
